body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace ;
  background: linear-gradient(90deg, #ffafbd 0%, #6dd5ed 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
